.mainDiv {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.searchDiv {
    padding: 2px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 1050px;
    border-radius: 30px;
    padding: 0px 10px;
    /* flex-wrap: wrap; */
}
.searchDiv span {
    font-size: 12px;
    font-weight: 600;
}
.firstDiv {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #414143;
    width: 30%;
    height: 50px;
}
.firstDiv input {
    height: 25px;
    width: 80%;
    border: none;
    border-radius: 25px;
}
.secondDiv {
    border-right: 1px solid #414143;
    width: 35%;
    height: 50px;
} 
.searchIcon {
    background-color: #593cfb;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 5px;
}
.searchIcon span {
    color: aliceblue;
    font-size: 20px;
    font-weight: 400;
}

@media only screen and (max-width: 1000px) {
    .mainDiv {
        display: flex;
        justify-content: center;
        height: 200px;
        padding: 10px;
    }
    .searchDiv {
        display: flex;
        flex-direction: column;
        background-color: white;
        height: 250px;
        width: 450px;
        border-radius: 10px;
        padding: 10px;
    }
    .firstDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50px;
        border-right: none;
        border-bottom: 1px solid #414143;
    }
    .secondDiv {
        border-right: none;
        border-bottom: 1px solid #414143;
        width: 100%;
        height: 50px;
        padding-bottom: 10px;
    } 
    .thirdDiv {
        border-right: none;
        border-bottom: 1px solid #414143;
        width: 100%;
        height: 50px;
        padding-bottom: 10px;
    }
    .searchIcon {
        background-color: #593cfb;
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 0px;
    }
}