.background {
  background-color: aqua;
  background-image: url("https://resources.turo.com/f/81934/768x400/19ba3b6826/hp_ny_768x400_2.jpg");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  background-position-x: bottom;
    background-position-y: bottom;
}